	
	
	.tweets{
		margin-left: 120px;
	}
	#image{
		float:right;
		max-width: 40%;
    	height: auto;
		margin-right: 100px;
		border: 1px solid #ddd;
    	border-radius: 4px;
    	padding: 5px;
	}
	.card{
		margin-left: 120px;
		display: block;
		font-size: 20px;
	}
	#scalesvg{
		float:right;
		margin-right: 150px;
	}
	blockquote.twitter-tweet {
		display: inline-block;
		font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		border-color: #eee #ddd #bbb;
		border-radius: 5px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
		margin: 10px 5px;
		padding: 0 16px 16px 16px;
		max-width: 468px;
	}

	blockquote.twitter-tweet p {
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
	}

	blockquote.twitter-tweet a {
		color: inherit;
		font-weight: normal;
		text-decoration: none;
		outline: 0 none;
	}

	blockquote.twitter-tweet a:hover,
	blockquote.twitter-tweet a:focus {
		text-decoration: underline;
	}

	.content{
		margin: 0 auto;
		padding: 20px;
		margin-left: 20px;
	}
	.map_content{
		margin: 0 auto;
		padding: 20px;
		margin-left: 120px;

	}
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	button{
		margin:0% 0 auto;
	}
	h1{
		text-align: center;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}
	#month {
		border: 1px solid #ccc;
		width: 120px;
		height: 20px;
		border-radius: 3px;
		overflow: hidden;
		background: #fafafa;
	}
	.created_by{
		position: relative;
		float:left;
		left:20px;
	}	
	.ending{
		width:900px;
		margin-left: 180px;
		margin-bottom: 100px;
		padding-top: 30px;
		left:50px;
		border-style: solid;
		height:200px;
	}